<table mat-table [dataSource]="skills$ | async" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let skill">{{ skill.name }}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let skill">{{ skill.type }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let skill">{{ skill.description }}</td>
  </ng-container>

  <ng-container matColumnDef="importance">
    <th mat-header-cell *matHeaderCellDef>Importance</th>
    <td mat-cell *matCellDef="let skill">{{ skill.importance }}</td>
  </ng-container>

  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef>Level</th>
    <td mat-cell *matCellDef="let skill">{{ skill.level }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div *ngIf="isLoading; else loaded" class="center">
  <mat-spinner diameter="45"></mat-spinner>
</div>
<ng-template #loaded>
  <div *ngIf="(skills$ | async)?.length === 0" class="center">
    <p>No records found</p>
  </div>
</ng-template>
